/*Estilos gerais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
}
/*Estilizando cabeçalho*/
body{
    background:url(imagens/espaco.gif) repeat center;
    height: 800px;
}
header{
    border: 1px solid #FFF;
    height: 120px;
}
.header-container{
    width: 960px;
    margin:10px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.titulo-header{
    color: #FFF;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 10px;
}
/*Estilizando página principal*/

.principal{
    background:url(imagens/espaco.gif) repeat center;
    height: 800px;
}
.container{
    width: 960px;
    margin: 20px auto;
}
.data{
    width: 100%;
    height: 80px;
    color: #FFF;
    border: 1px solid #FFF;
    padding: 30px;
    font-size: 18pt;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.data input{
    width: 220px;
    height: 40px;
}
.enviar{
    width: 120px;
    height: 40px;
}
.enviar:hover{
    cursor:pointer;
    width: 125px;
    height: 45px;
}
#conteudo{
    width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#descricaoFoto{
    color: #FFF;
    margin: 20px auto;
}
#decricaoFoto p{
    text-align: center;
}
/*Estilizando rodapé*/
footer{
    width: 100%;
    height: 120px;
    border: 1px solid #FFF;
}
footer p {
    margin: 0px;
    text-align: center;
    padding: 45px;
    color: #FFF;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11pt;
}